body{
    background-color: lightseagreen;
    color: black;
}
 
h1{
    background-color: lightseagreen;
    color: black;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
 
a{
    text-decoration: none;
    font-size: 20px;
    color: darkblue;
    padding: 5px 50px;
}
 
a:hover{
    color: red;
}
